name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-core-version: '18.x'
    
    - name: Install Backend Dependencies
      run: |
        cd backend
        npm install
    
    - name: Run Backend Tests
      run: |
        cd backend
        npm test -- --watchAll=false